*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    position: relative;
    
}
.logo img{
    width: 11rem;
    margin: 10px;
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    margin-left: 200px;
    font-style: italic;
}
.navbar ul li{
    font-size: 0.6rem;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 3px;
    
}
.linebox{
    color: #3b3b3b;
}
hr.line {
    width: 85%;
    height: 0px;
    border: 1px solid #504e4e;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #3b3b3b;

}
.navbar ul li a:hover{
    color: #bfc500;
    transition: 0.6s;
}select:hover{
    color: #bfc500;
    transition: 0.6s;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 4.8rem;
    flex-wrap: wrap;
    cursor: pointer;
   
    
    
}
select{
    font-size: 0.6rem;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-style: italic;
    cursor: pointer;
}

.fa-brands{
    font-size: 1.099rem;
    padding: 12px;
    margin-right: 10px;
    
}
.fa-brands:hover{
    color: #bfc500;
     transition: 0.6s;
}
.sec img{
   background: no-repeat center cover;
   width: 85%;
}
.sec{
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    
}
#box1 p{
    padding-top: 10px;
    font-size: 22px;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
}
#box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 85px;
    
}
#box1 h1{
    margin-bottom: 9px;
    font-style: italic;
}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    
}
.box2 div{
    display: flex;
    margin-right: 30px;
    
}
.box2 div img{
    width: 150px;
    padding: 8px;
    
    
}
.para{
    padding-left: 120px;
    padding-right: 70px;
    padding-bottom: 80px;
    padding-top: 50px;
    
}
.para a {
    color:#bfc500;
}
.para img{
    width: 250px;
    margin-right: 30px;
}
.para h1{
    font-size: 36px;
    font-weight: 00;
    color: #bfc500;
    font-style: italic;

}.para h2{
    font-size: 29px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 900;

    
}
.para h2 em{
    color: #bfc500;
}
.para h6{
    margin-top: 20px;
    font-weight: 300;
    font-size: 21px;
}
.para p{
    font-size: 15px;
    padding-top: 90px;
    color: #7d7c7c;
}
.sec3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    display: flex;
    justify-content: space-around;
    background-color: #bfc500;
    width: 85%;
    padding: 27px;
    flex-wrap: wrap;
}
.small{
    display: flex;
    align-items: center;
    justify-content: center;
}
.small button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #bfc500;
    height: 75px;
    width: 295px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 19px;
    cursor: pointer;

}
.small button:hover{
    background-color: white;
    color: black;
}   .button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #bfc500;
    height: 56px;
    width: 295px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    margin: 3px;

}
 .button:hover{
    background-color: white;
    color: black;
}
.small h5{
    font-size: 16px;
    font-weight: 200;
    padding: 20px;
}.small h1{
    font-size: 30px;
    padding: 5px;
    
}
.linebox{
    display: flex;
    align-items: center;
    justify-content: center;

}
.padding{
    padding-right: 400px;
}
.imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 200px;
}
.imgs img{
    display: flex;
    flex-direction: column;
    width: 90px;
}
.imgs p{
    font-size: 15px;
    padding-top: 5px;
}
.img{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.doubles{
    display: flex;
    flex-direction: column;
   

}
.itembox{
    display: flex;
    padding: 10px;
   
    

}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 10px;
    padding-bottom: 100px;
    color: white;
    font-size: 22px;
}
.percents{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}.percent{
    color: #bfc500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic{
    background-color: #bfc500;
    position: relative;
    width: 250px;
    height: 290px;
    
}
.pic img{
    width: 330px;
    position: relative;
    top: px;
    left: -60px;
   
    
  
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    margin-bottom: 130px;
}
.link h3{
    color: white;
}
.link a{
    color: #bfc500;
    text-decoration: none;
}
.bored{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bored img{
    width: 200px;
    margin-top: -140px;
}
.box input{
    width: 400px;
    height: 40px;
    color: white;
    background-color: #3b3b3b;
    padding-left: 10px;
    
    
}
input::placeholder{
    color: white;
}
#btn{
    height: 39px;
    width: 50px;
    
    background-color:#7d7c7c; 
    color: white;
}
#last{
    font-size: 0.8rem;
}
.last{
    font-size: 0.9rem;
    color: #bfc500;
    display: flex;
    flex-direction: column;
}
#text{
    padding-left: 10px;
}
.footer{
    display: flex;
    
}
#just{
    justify-content: space-between;
}
.footer{
color: #bfc500;
height: 10px;
}
