.navbar{
    flex-direction: column;
    align-items: flex-start;
    
    display: none;
}

.navbar ul{
    flex-direction: column;
    align-items: flex-start;
}
.items{
    width: 300px;
}

.doubles{
    
    align-items: center;
    justify-content: center;
   width: 300px;
   height: 100%;
}
.para{
    padding: 0px;
    text-align: center;
}
.para h6 {
    width: 273px;
    
    font-size: 11px;}
.para h2 {
    font-size: 15px;
}
.para h1 {
    
    font-size: 28px;
}
.min{
    display: flex;
    flex-direction: column;
}
.para p {
    font-size: 6px;
    margin-top: -52px;
}
.small h1 {
    font-size: 23px;
    padding: 0px;
}
.small h5 {
    font-size: 9px;
    font-weight: 200;
    padding: 10px;
}
.small button {
    height: 25px;
    width: 83px;
    border-radius: 6px;
    font-size: 7px;
}
.container{
    margin-top: 10px;
    height: 77px;
    width: 278px;
}
.para img {
    width: 187px;
    margin-top: 20px;
}
#box1 h1{
    font-size: 17px;
}
#box1 p {
    padding-top: 10px;
    font-size: 15px;
}
.pic img {
    width: 100px;
    position: static;
}
.pic {
    width: 70px;
    position: static;
    height: 70px;
}
.bo {
    height: 550px;
    font-size: 12px;
}
.button{
    margin-top: 4px;
    height: 22px;
    width: 96px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 8px;
}
.sec3 {
    justify-content: center;
}
.para img {
    width: 198px;
}
.box input {
    margin: 10px;
    width: 158px;
    height: 22px;
}

#btn {
    height: 21px;
    width: 34px;
}
.bored img {
    width: 146px;
    margin-top: -115px;
}
.foot{
    margin-top: 10px;
}
.box1 p{
    width: 204px;
}
.link h3 {
    color: white;
    font-size: 14px;
}
.link a{
    font-size: 10px;
}
#burger{
    visibility: visible;
}
.icons{
    margin-left: 20px;
}
.box2{
    padding-bottom: 10px;
}